.rockets section {
    margin-bottom: 20px;
    opacity: 0.9;
}

h2, p, span {
    color: rgb(233, 224, 224);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 25px;  
    font-weight: bold;
}

p {
    font-weight: normal;
}